<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>California Crash Data</title>
</head>
<body>
    <!-- Image -->
    <head>
      <style>
        .background {
          background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/f1/Interstate80westernend.jpg);
        }
      </style>
    </head>
    
    <!-- <body>
      <div class=background>
      </div>
    </body> -->
      <img src="https://cdn.pixabay.com/photo/2017/01/20/20/24/car-accident-1995852_1280.png" alt="cars in collision"  width="900" 
  height="500" />
  <br />
    <h1>California Crash Data Dashboard</h1>
    <h2>by Anna Marie Estores and Dia Vang</h2>
</body>

<div class="container">
    <div class="row">
      <div class="col-md-2 jumbotron text-center">
        <!-- <h1>Belly Button Biodiversity Dashboard</h1> -->
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
  <script>
   const chart_data= {{data|tojson}}
   console.log (chart_data)
  </script>
    
    <form action="/action_page.php">
      <label for="data">Report Type:</label>
      <select name="county" id="county">
        <option chart_data="crash_by_city">crash by city</option>
        <option chart_data="DUI_PCF_yr15_19">DUI comparison</option>
        <option chart_data="fatal_crashes">Fatal crashes</option>
        <option chart_data="fatal_crashes_by_month">Monthly fatal crashere</option>
        <option chart_data="persons_killed">Fatalities</option>
        <option chart_data="persons_killed_by_city">Fatalities by city</option>
        <option chart_data="persons_killed_by_month">Monthly fatalities</option>
        <option chart_data="persons_killed_yr10_19">Fatalities comparison</option>
      </select id="selDataset" onchange="optionChanged(this.data)"></select>
      <br><br>
      <input type="submit" value="Submit">
    </form>
    <p>Click the "Submit" button and the form-data will populate".</p>
    <!-- <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>Test Subject ID No.:</h5> -->
          <!-- <select 
        </div> -->
        <div class="panel panel-primary">
          <div class="panel-heading">
            <!-- <h3 class="panel-title">Demographic Info</h3> -->
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-5">
        <div id="bar"></div>
      </div>
      <div class="col-md-5">
        <div id="gauge"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="bubble"></div>
      </div>
    </div>
  </div>

  <script src="http://127.0.0.1:5000"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.min.js"></script> -->
   <!-- <script src="../app.py"></script>  -->
  <script src="./static/js/logic.js"></script>

</html>