<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>California Crash Data</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  <div style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f1/Interstate80westernend.jpg');"
    width="1020px" height="500px">
    <div class="col-8 offset-2">
      <div class="card">
        <div class="card-body">
          <h1>California Crash Data Dashboard</h1>
          <h3>by Anna Marie Estores and Dia Vang</h2>
            <hr>
            <!-- <script>
              const chart_data = {{data|tojson}}
              console.log(chart_data)
            </script> -->
            <div id="plot"></div>
            <!-- <canvas id="myChart" width="400" height="400"></canvas> -->
            <form>
              <label for="county">County: </label>
              <input type="text" name="county"  required>
              <br>
              <input type="submit" value="Submit">
          </form>
              </select id="myForm" onchange="optionChanged(this.resultdata)"></select>
              <br><br>
            <p>Click the "Submit" button to create chart data.</p>
            <!-- <canvas id="myChart" width="400" height="400"></canvas> -->
            
            
          
            </div>
        </div>
      </div>
  
      
    </div>
    <script src="https://d3js.org/d3.v7.min.js"></script> 
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
 <script src="logic.js"></script>
  <!-- <script src="//flask_blog/static/js/data.js"></script>  -->
 
</body>

</html>